<h1>Olá Seja Bem-Vindo</h1>


<ul>
  <li><%= link_to "Tipos", kinds_path %></a></li>
  <li><%= link_to "Contatos", contacts_path %></a></li>
  <li><%= link_to "Endereço", addresses_path %></a></li>
  <li><%= link_to "Telefone", phones_path %></a></li>
</ul>
